html {
  font-size: calc(100vw / 1920);

  @media (width <= $breakpoint-mob) {
    font-size: calc(100vw / 390);
  }

  @media (width >= $breakpoint-desktop-large) {
    font-size: 1px;
  }

  // hide scroll

  //&::-webkit-scrollbar {
  //  display: none;
  //}
  //
  //-ms-overflow-style: none;
  //scrollbar-width: none;

  // hide scroll
}

body {
  height: 100%;
  color: var(--white);
  background-color: var(--black);
  //backface-visibility: hidden;
  //-webkit-font-smoothing: antialiased;
  //text-size-adjust: 100%;
  //text-rendering: optimizelegibility;
}

//.root {
//  padding: 0 0 132rem;
//}

.wrapper {
  min-height: 100%;
}

main {
  position: relative;
}
