html {
  font-size: calc(100vw / 1920);

  @media (width <= $breakpoint-mob) {
    font-size: calc(100vw / 390);
  }

  @media (width >= $breakpoint-desktop-large) {
    font-size: 1px;
  }

  // hide scroll

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  // hide scroll
}

body {
  height: 100%;
  color: var(--white);
  background-color: var(--black);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

.wrapper {
  min-height: 100%;
}

main {
  position: relative;
}

.desk-view {
  @media (width<=$breakpoint-mob) {
    display: none;
  }
}

.mobile-view {
  display: none;
  @media (width<= $breakpoint-mob) {
    display: block;
  }
}

.swiper-button-disabled {
  opacity: 0.3;
}

.editor-content {
  h1, h2, h3, h4, h5, h6 {
    margin: 68rem 0 40rem;

    span {
      color: var(--primary-color);
    }

    @media (width<= $breakpoint-mob) {
      margin: 64rem 0 34rem;
    }
  }

  p {
    margin: 15rem 0;

    @media (width<= $breakpoint-mob) {
      margin: 10rem 0;
      font-size: 14rem;
    }
  }

  ul, ol {
    margin: 24rem 0;
  }

  ul {
    li {
      position: relative;
      margin: 10rem 0;
      font: var(--font-l);

      @media (width<= $breakpoint-mob) {
        padding: 0 0 0 20rem;
        font-size: 14rem;
      }

      &::before {
        position: absolute;
        top: 14rem;
        left: -20rem;
        width: 10rem;
        height: 10rem;
        background-color: var(--primary-color);
        border-radius: 50%;
        content: '';

        @media (width<= $breakpoint-mob) {
          top: 7rem;
          left: 5rem;
          width: 5rem;
          height: 5rem;
          background-color: var(--white);
        }
      }
    }
  }

  ol {
    counter-reset: ordered-list-counter;

    li {
      margin: 10rem 0;
      font: var(--font-l);
      counter-increment: ordered-list-counter;

      @media (width<= $breakpoint-mob) {
        position: relative;
        padding: 0 0 0 20rem;
        font-size: 14rem;
      }

      &::before {
        margin: 0 10rem 0 0;
        content: counter(ordered-list-counter) ".";

        @media (width<= $breakpoint-mob) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24rem;
    margin: 54rem 0;
    @media (width<= $breakpoint-mob) {
      margin: 36rem 0;
    }
  }

  a {
    color: var(--primary-color);
    font: var(--font-l);
    transition: opacity var(--duration-hover) var(--ease);
    @media (width> $breakpoint-mob) {
      &:hover {
        opacity: 0.5;
      }
    }
    @media (width<= $breakpoint-mob) {
      font-size: 14rem;
    }
  }
}

.wrapper-class {
  padding: 39rem 0 779rem;

  &.variant {
    padding: 0 0 779rem;
    @media (width<= $breakpoint-mob) {
      padding: 0 0 93rem;
    }
  }

  @media (width<= $breakpoint-mob) {
    padding: 84rem 0 93rem;
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}