@import '@/app/styles/variables/breakpoints';

.line {
  height: 298rem;
  margin: 150rem 0;

  @media(width<=$breakpoint-mob) {
    height: 140rem;
    margin: 25rem 0;
  }

  &__lottie {
    height: 100%;
  }
}