@import '@/app/styles/variables/breakpoints';

.header-navigation{
  margin: 0 28rem;

  &__link{
    margin: 0 30rem 0 0;
    font-size: 18rem;
    font-family: var(--font-family-primary);
    transition: var(--duration-hover) var(--ease);

    &.active{
      color: var(--primary-color);
    }

    @media (width>$breakpoint-mob) {
      &:hover{
        color: var(--primary-color);
      }
    }

    &:last-child{
      margin: 0;
    }
  }

  @media (width<=$breakpoint-mob) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 119rem 0 104rem;

    .header-navigation{
      &__link{
        margin: 0 0 24rem;
      }
    }
  }
}