@import '@/app/styles/variables/breakpoints';

.text-field{
  position: relative;
  display: flex;
  padding: 38rem 0 25rem;

  @media (width <= $breakpoint-mob) {
    padding: 29rem 0 20rem;
  }

  &.__error{
    .text-field{
      &__input{
        border: 1px solid var(--red);
      }
    }
  }

  &__input{
    width: 100%;
    padding: 12rem 16rem;
    color: var(--white);
    font-weight: 400;
    font-size: 20rem;
    line-height: 150%;
    background-color: var(--grey-bg-input);
    border: 1px solid transparent;
    border-radius: 12rem;

    @media (width <= $breakpoint-mob) {
      font-size: 14rem;
    }

    &:focus{
      border: 1px solid var(--primary-color);
    }

    &::placeholder {
      color: var(--white);
      font-weight: 400;
      font-size: 20rem;
      line-height: 150%;
      opacity: 0.2;

      @media (width <= $breakpoint-mob) {
        font-size: 14rem;
      }
    }

    &.textarea{
      height: 100rem;
      min-height: 100rem;
      resize: none;
    }
  }

  &__label{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 20rem;
    line-height: 150%;

    @media (width <= $breakpoint-mob) {
      font-size: 14rem;
    }
  }
}
