@import '@/app/styles/variables/breakpoints';

.checkbox {
  display: flex;
  border-radius: 34rem;
  cursor: pointer;

  &__title{
  padding: 8rem 10rem;
  color: var(--white);
  font-size: 20rem;
  line-height: 100%;
  border: 1px solid var(--grey-light);
  border-radius: 34rem;
  transition: var(--duration-hover) var(--ease);

    @media (width <= $breakpoint-mob) {
      padding: 6rem 15rem;
      font-size: 14rem;
    }

    @media (width > $breakpoint-mob) {
      &:hover{
        color: var(--black);
        background-color: var(--white);
      }
    }
}

  input {
    display: none;
  }

  input[type="checkbox"]:checked + .checkbox__title{
    color: var(--black);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  &.__error{
    .checkbox{
      &__title{
        color: var(--red);
        border: 1px solid var(--red);
      }
    }
  }

}