@import '@/app/styles/variables/breakpoints';

.form{
  width: 100%;

  &._loading{
    opacity: .5;
    pointer-events: none;
  }

  &__field{
    margin: 0 0 11rem;

    @media (width<= $breakpoint-mob) {
      margin: 0 0 4rem;
    }
  }

  &__file{
    margin: 30rem 0 28rem;

    @media (width<= $breakpoint-mob) {
      margin: 4rem 0;
    }
  }

  &__button{
    width: 100%;
  }
}