@import '@/app/styles/variables/breakpoints';

.header {
  position: fixed;
  bottom: 24rem;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: transform var(--duration-hover) var(--ease);

  &.hidden{
    transform: translateY(100rem);
  }

  @media (width<=$breakpoint-mob) {
    display: none;
  }

  &__container {
    display: flex;
    justify-content: center;

    &_content {
      position: relative;
      z-index: 10;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 8rem;
      background-color: var(--grey-dark);
      border: 1rem solid var(--grey-btn);
      border-radius: 500rem;
    }
  }
}