@import '@/app/styles/variables/breakpoints';

.buttonPrimary{
  padding: 16rem 32rem;
  font-size: 18rem;
  font-family: var(--font-family-primary);
  line-height: 22rem;
  border-radius: 500rem;
  transition: background-color var(--duration-hover) var(--ease), color var(--duration-hover) var(--ease) 0.2s;

  &.grey{
    background: var(--grey-btn);

    @media (width>$breakpoint-mob) {
      &:hover{
        color: var(--black);
        background: var(--primary-color);
      }
    }
  }

  &.green{
    color: var(--black);
    background: var(--primary-color);
  }

  @media (width<=$breakpoint-mob) {
    padding: 9rem 23rem;
    font-size: 16rem;
  }
}