@import '@/app/styles/variables/breakpoints';

.bottom-section {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  @media (width<=$breakpoint-mob) {
    min-height: initial;
  }

  &__top {
    display: flex;
    flex-grow: 1;
    gap: 24rem;

    @media (width<=$breakpoint-mob) {
      flex-grow: initial;
    }

    @media (width<=$breakpoint-mob) {
      display: block;
    }
  }

  &__bottom {
    display: flex;
    flex-grow: 1;

    @media (width<=$breakpoint-mob) {
      flex-grow: initial;
    }
  }
}

.slider {
  height: 100vh;

  @media (width <= $breakpoint-mob) {
    height: initial;

    .slider{
      &__wrapper{
        display: block;
      }
    }
  }
}