@import '@/app/styles/variables/breakpoints';

.bottom-section {
  &__content {
    display: flex;
    gap: 24rem;

    @media (width<=$breakpoint-mob) {
      flex-direction: column;
      align-items: initial;
    }
  }
}

.slider {
  height: 100svh;

  @media (width <= $breakpoint-mob) {
    height: initial;

    .slider {
      &__wrapper {
        display: block;
      }
    }
  }
}

.pagination {
  position: fixed;
  top: 50%;
  right: 50rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 12rem;
  transform: translateY(-50%);

  &__bullet {
    width: 12rem;
    height: 12rem;
    margin: 0 0 17rem;
    background-color: var(--grey-btn);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--duration-hover) var(--ease);

    &.active {
      background-color: var(--primary-color);
    }

    &:last-child {
      margin: 0;
    }
  }
}

.footer-no-padding{
  @media (width>$breakpoint-mob) {
    padding: 0;
  }
}