@import '@/app/styles/variables/breakpoints';

.our-blog{
  display: flex;
  flex: 1 0;
  flex-direction: column;
  min-height: 729rem;
  padding: 36rem;
  background: var(--grey-bg);
  border-radius: 36rem;

  &__canvas{
    flex: 1;
    width: 556rem;
    height: 621rem;
  }

  @media (width<=$breakpoint-mob) {
    display: none;
  }

  .title{
    text-transform: capitalize;
  }
}