@import '@/app/styles/variables/breakpoints';

.our-blog{
  display: flex;
  flex: 1 0;
  flex-direction: column;
  min-height: 729rem;
  padding: 36rem;
  background: var(--grey-bg);
  border-radius: 36rem;

  &__canvas-wrapper{
    position: relative;
    flex: 1;
    width: 556rem;
    height: 621rem;

    &_canvas{
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @media (width<=$breakpoint-mob) {
    display: none;
  }

  .title{
    text-transform: capitalize;
  }
}