@import '@/app/styles/variables/breakpoints';

.about {
  @media (width<=$breakpoint-mob) {
    display: flex;
    align-items: center;
    min-height: 100svh;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

    .logo {
      align-self: center;
      width: 410rem;
      height: 326rem;
      margin: 0 0 10rem;

      @media (width<=$breakpoint-mob) {
        width: 190rem;
        height: 140rem;
        margin: 10rem 0 0;

      }
    }

    span {
      color: var(--primary-color);
    }

    h1 {
      font-size: 190rem;
      line-height: 113%;

      @media (width<=$breakpoint-mob) {
        font-size: 36rem;
      }
    }

    h2 {
      line-height: 120%;

      span {
        margin: 0 18rem;
      }

      @media (width<=$breakpoint-mob) {
        margin: 11rem 0 0;
        font-size: 16rem;

        br {
          display: none;
        }

        span {
          margin: 0 5rem;
        }
      }
    }
  }
}