@import '@/app/styles/variables/breakpoints';

.topic-list {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;

  &__link {
    padding: 4rem 16rem;
    color: var(--primary-color);
    font-size: 24rem;
    line-height: 150%;
    background-color: var(--dark-green);
    border-radius: 34rem;

    @media (width<= $breakpoint-mob) {
      font-size: 14rem;
    }
  }
}