@import '@/app/styles/variables/breakpoints';

.summary {
  margin: 164rem 0;

  @media (width<= $breakpoint-mob) {
    margin: 64rem 0;
  }

  &__title{
    @media (width<= $breakpoint-mob) {
      font-size: 36rem;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 29rem 19rem;
    margin: 64rem 0 0;

    @media (width<= $breakpoint-mob) {
      gap: 16rem;
    }

    &_item {
      padding: 36rem;
      background-color: var(--grey-bg);
      border-radius: 36rem;

      @media (width<= $breakpoint-mob) {
        width: 100%;
        padding: 16rem;
        border-radius: 24rem;
      }

      &:nth-child(1) {
        position: relative;
        display: flex;
        width: 100%;
        padding: 36rem 287rem 36rem 117rem;

        .image{
          flex: 0 0 483rem;
          height: 213rem;
          margin: 0 123rem 0 0;
        }

        @media (width<= $breakpoint-mob) {
          flex-direction: column;
          padding: 16rem;

          .image{
            flex: initial;
            height: 113rem;
            margin: 0 0 20rem;
          }
        }
      }

      &:nth-child(2) {
        flex:0 0 661rem;

        @media (width<= $breakpoint-mob) {
          flex: initial;
          width: 100%;
        }
      }

      &:nth-child(3) {
        flex:0 0 437rem;

        @media (width<= $breakpoint-mob) {
          flex: initial;
          width: 100%;
        }
      }

      &:nth-child(4) {
        flex: 1;

        @media (width<= $breakpoint-mob) {
          flex: initial;
          width: 100%;
        }
      }

      .text{
        &__title {
          margin: 0 0 16rem;
          color: var(--primary-color);

          @media (width<= $breakpoint-mob) {
            font-size: 24rem;
          }
        }

        &__description {
          font-size: 20rem;
          opacity: 0.6;

          @media (width<= $breakpoint-mob) {
            max-width: 306rem;
            font-size: 14rem;
          }
        }
      }
    }
  }
}