@import '@/app/styles/variables/breakpoints';

.our-portfolio{
  display: flex;
  min-height: 100svh;
  padding: 24rem 0 120rem;

  @media (width<=$breakpoint-mob){
    padding: 66rem 0 60rem;
  }

  &__content{
    position: relative;
    width: 100%;
    height: 100%;

    &_link{
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--grey-bg);
      border-radius: 36rem;

      @media (width<=$breakpoint-mob){
        border-radius: 20rem;
      }

      @media (width>$breakpoint-mob) {
        &:hover {
          .title{
            color: var(--primary-color);
          }
        }
      }

      .title{
        position: absolute;
        bottom: 48rem;
        left: 48rem;
        text-transform: capitalize;
        transition: var(--duration-hover) var(--ease) var(--hover-delay);

        @media (width<=$breakpoint-mob){
          bottom: 21rem;
          left: 20rem;
          max-width: 200rem;
        }
      }
    }
  }
}