@import '@/app/styles/variables/breakpoints';

.our-portfolio{
  display: flex;
  min-height: calc(100svh - 96rem);

  @media (width<=$breakpoint-mob){
    min-height: 100svh;
  }

  .wrapper{
    padding: 24rem 204rem;

    @media (width<=$breakpoint-mob){
      padding: 66rem 16rem 60rem;
    }
  }

  &__content{
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 2500px;

    @media (width<=$breakpoint-mob){
      perspective: initial;
    }

    &_wrapper{
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--grey-bg);
      border-radius: 36rem;
      transform-style: preserve-3d;

      @media (width<=$breakpoint-mob){
        border-radius: 20rem;
      }

      @media (width>$breakpoint-mob) {
        &:hover {
          .title{
            color: var(--primary-color);
          }
        }
      }

      .title{
        position: absolute;
        bottom: 72rem;
        left: 48rem;
        text-transform: capitalize;
        transform: translateZ(30px);
        transition: var(--duration-hover) var(--ease) var(--hover-delay);

        @media (width<=$breakpoint-mob){
          bottom: 24rem;
          left: 16rem;
          max-width: 200rem;
          transform: initial;
        }
      }

      .image{
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 36rem;

        @media (width<=$breakpoint-mob){
          border-radius: 20rem;
        }
      }
    }
  }
}