@import '@/app/styles/variables/breakpoints';

.our-portfolio{
  display: flex;
  min-height: calc(100svh - 96rem);

  @media (width<=$breakpoint-mob){
    min-height: 100svh;
  }

  &__content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 24rem 0;

    @media (width<=$breakpoint-mob){
      padding: 66rem 0 60rem;
    }

    &_link{
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: var(--grey-bg);
      border-radius: 36rem;

      @media (width<=$breakpoint-mob){
        border-radius: 20rem;
      }

      @media (width>$breakpoint-mob) {
        &:hover {
          .title{
            color: var(--primary-color);
          }

          .image{
            transform: scale(1.1);
          }
        }
      }

      .title{
        position: absolute;
        bottom: 72rem;
        left: 48rem;
        text-transform: capitalize;
        transition: var(--duration-hover) var(--ease) var(--hover-delay);

        @media (width<=$breakpoint-mob){
          bottom: 81rem;
          left: 20rem;
          max-width: 200rem;
        }
      }

      .image{
        width: 100%;
        height: 100%;
        transition: var(--duration-hover) var(--ease);
      }
    }
  }
}