.create {
  margin: 100rem 0 468rem;

  &__list {
    display: flex;
    flex-direction: column;

    .item {
      position: relative;
      box-sizing: content-box;
      counter-increment: ordered-list-counter;

      &__lottie {
        position: absolute;
        margin: 0;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--primary-color);
        font-size: 200rem;
        font-family: var(--font-family-primary);
        content: counter(ordered-list-counter, decimal-leading-zero);
      }

      &:nth-child(1) {
        align-self: flex-end;
        max-width: 807rem;
        margin: 50rem 170rem 300rem 0;
        padding: 10rem 0 0 640rem;

        .item {
          &__lottie {
            top: 220rem;
            left: 160rem;
            width: 580rem;
            height: 1028rem;
          }
        }
      }

      &:nth-child(2) {
        align-self: flex-end;
        max-width: 807rem;
        margin: 50rem 170rem 71rem 0;
        padding: 287rem 0 0;

        .item {
          &__lottie {
            top: 100rem;
            left: -630rem;
            width: 715rem;
            height: 1367rem;
          }
        }
      }

      &:nth-child(3) {
        max-width: 1050rem;
        margin: 71rem 0 268rem 120rem;
        padding: 287rem 0 0;

        .item {
          &__lottie {
            bottom: -649rem;
            left: -100rem;
            width: 570rem;
            height: 549rem;
          }
        }
      }

      &:nth-child(4) {
        align-self: center;
        max-width: 891rem;
        margin: 50rem 0 551rem 71rem;
        padding: 287rem 0 0;

        .item {
          &__lottie {
            right: -450rem;
            bottom: -579rem;
            width: 500rem;
            height: 849rem;
          }
        }
      }

      &:nth-child(5) {
        align-self: flex-end;
        max-width: 873rem;
        margin: 50rem 170rem 316rem 0;
        padding: 10rem 0 0 440rem;

        .item {
          &__lottie {
            top: 130rem;
            left: -40rem;
            width: 700rem;
            height: 1449rem;
          }
        }
      }

      &:nth-child(6) {
        max-width: 1046rem;
        margin: 316rem 0 0 390rem;
        padding: 287rem 0 0;
      }

      &__img {
        width: 807rem;
        height: 432rem;
        margin: 0 0 48rem;
        overflow: hidden;
        border-radius: 36rem;
      }

      &__title {
        margin: 0 0 48rem;
        text-transform: capitalize;
      }

      &__description {
        span {
          color: var(--primary-color);
        }
      }
    }
  }
}