@import '@/app/styles/variables/breakpoints';

.blog-navigation {
  padding: 48rem 0;

  @media (width <= $breakpoint-mob) {
    padding: 24rem 0;
  }

  &__list {
    display: flex;
    gap: 8rem;
    justify-content: center;

    @media (width <= $breakpoint-mob) {
      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;
      justify-content: flex-start;
      max-width: 100%;
      padding: 0 16rem;
      overflow: auto;
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 21rem 36rem 21rem 112rem;
      background-color: var(--grey-bg);
      border-radius: 16rem;
      cursor: pointer;
      transition: var(--duration-hover) var(--ease);

      @media (width <= $breakpoint-mob) {
        padding: 8rem 14rem 8rem 48rem;
        border-radius: 8rem;
      }

      &.active {
        background-color: var(--primary-color);

        .item {
          &__text {
            color: var(--black);
          }
        }
      }

      &__text {
        font: var(--font-h5);
        transition: var(--duration-hover) var(--ease);
      }

      @media (width > $breakpoint-mob) {
        &:hover {
          background-color: var(--primary-color);

          .item {
            &__text {
              color: var(--black);
            }
          }
        }
      }
    }

    &.small {
      @media (width <= $breakpoint-mob) {
        gap: 4rem;
      }

      .item {
        padding: 4rem 16rem;
        border-radius: 34rem;

        @media (width <= $breakpoint-mob) {
          padding: 6rem 12rem;
        }

        &__text {
          font: var(--link-s);

          @media (width <= $breakpoint-mob) {
            font-size: 14rem;
            line-height: 150%;
            white-space: nowrap;
          }
        }
      }
    }

  }
}