@import '@/app/styles/variables/breakpoints';

.cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 100svh;
  background-color: var(--black);

  .container{
    perspective: 1500px;
  }

  @media (width<= $breakpoint-mob) {
    display: block;
    justify-content: initial;
    min-height: initial;
    margin: 16rem 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 291rem 50rem 112rem;
    background-image: url("/images/Home/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 36rem;
    transform-style: preserve-3d;

    @media (width<= $breakpoint-mob) {
      padding: 26rem 33rem 26rem 162rem;
      background-color: var(--primary-color);
      background-image: none;
      border-radius: 24rem;
      perspective: initial;
    }

    &_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 900rem;
      color: var(--black);
      text-align: center;
      transform: translateZ(50px);
      transform-style: preserve-3d;

      @media (width<= $breakpoint-mob) {
        text-align: left;
        transform: initial;
      }

      .title {
        margin: 0 0 23rem;
        color: var(--primary-color);
        line-height: normal;
        text-transform: capitalize;

        &.mob {
          display: none;
        }

        @media (width<= $breakpoint-mob) {
          &.desk {
            display: none;
          }

          &.mob {
            display: inline-block;
          }

          display: inline-block;
          margin: 0;
          padding: 0 0 4rem;
          color: var(--black);
          font-size: 16rem;
          border-bottom: 2rem solid var(--black);
        }
      }

      .description {
        margin: 0 0 25rem;
        color: var(--white);
        font-size: 28rem;
        line-height: 150%;

        @media (width<= $breakpoint-mob) {
          margin: 4rem 0 0;
          color: var(--black);
          font-size: 14rem;
          line-height: normal;
        }
      }

      .button {
        @media (width <= $breakpoint-mob) {
          display: none;
        }
      }
    }
  }
}