@import '@/app/styles/variables/breakpoints';

.header-submenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--duration-hover) var(--ease);
  pointer-events: none;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    background-color: var(--black);
    opacity: 0;
    transition: var(--duration-hover) var(--ease);
    content: "";
  }

  &.active {
    opacity: 1;
    pointer-events: initial;

    &::before {
      opacity: 0.5;
    }

    .header-submenu {
      &__wrapper {
        bottom: 148rem;
      }
    }
  }

  .close-area {
    position: absolute;
    z-index: -1;
    content: '';
    inset: -300rem -200rem -148rem;
  }

  &__wrapper {
    position: absolute;
    bottom: 128rem;
    left: 50%;
    display: flex;
    padding: 36rem 36rem 40rem;
    background-color: var(--grey-dark);
    border-radius: 24rem;
    transform: translateX(-50%);
    transition: var(--duration-hover) var(--ease);

    &_column {
      width: 260rem;
      padding: 0 30rem 0 0;

      .title {
        color: var(--white);
        font: var(--font-s);
        opacity: 0.4;
      }

      .list {
        margin: 20rem 0 0;

        &__item {
          margin: 0 0 24rem;
          font: var(--link-s);

          &:last-child {
            margin: 0;
          }

          &_link {
            display: flex;
            align-items: center;

            .text {
              font: var(--link-s);
              transition: color var(--duration-hover) var(--ease);
            }

            @media (width>$breakpoint-mob) {
              &:hover {
                .text {
                  color: var(--primary-color);
                }

                .icon {
                  background-color: var(--primary-color);
                }
              }
            }

            .icon {
              position: relative;
              width: 42rem;
              height: 42rem;
              margin: 0 17rem 0 0;
              background-color: var(--white);
              border-radius: 50%;
              transition: background-color var(--duration-hover) var(--ease);
            }
          }
        }
      }
    }
  }

}