@import '@/app/styles/variables/breakpoints';

.hero {
  display: flex;
  min-height: 100svh;
  padding: 10rem 0 75rem;

  @media (width<=$breakpoint-mob){
    padding: 136rem 0;

  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1356rem;
    height: 100%;

    @media (width<=$breakpoint-mob){
      justify-content: flex-end;
    }

    &_top {
      display: flex;
      align-items: center;
      margin: 0 0 10rem;
      padding: 0 0 0 236rem;

      @media (width<=$breakpoint-mob) {
        margin: 0 0 8rem;
        padding: 0 0 0 40rem;
      }

      .logo {
        width: 87rem;
        height: 72rem;
        margin: 0 10rem 0 0;

        @media (width<=$breakpoint-mob) {
          width: 41rem;
          height: 36rem;
          margin: 0;
        }

        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .subtitle {
        span {
          color: var(--primary-color);
        }
      }
    }

    &_bottom {
      position: relative;

      .title {
        text-indent: 236rem;

        &.mob{
          display: none;
        }

        @media (width<=$breakpoint-mob) {
          text-indent: initial;

          &.desk{
            display: none;
          }

          &.mob{
            display: flex;
            flex-direction: column;
          }

          strong{
            display: block;
            text-indent: 40rem;

            &:nth-child(2){
              text-indent: 55rem;
            }
          }
        }

        span {
          color: var(--primary-color);
        }
      }

      .button{
        position: absolute;
        right: 204rem;
        bottom: 15rem;

        @media (width<=$breakpoint-mob){
          position: relative;
          right: initial;
          bottom: initial;
          display: inline-block;
          margin: 16rem 0 0;
        }
      }
    }
  }
}