.header-mobile-cta{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  padding: 13rem 0;

  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_logo{
      width: 48rem;
      height: 48rem;

      svg{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}