@import '@/app/styles/variables/breakpoints';

.hero-inner{
  margin: 0 0 67rem;

  @media (width<= $breakpoint-mob) {
    margin: 0;
  }

  &__back{
    margin: 0 0 95rem;

    @media (width<= $breakpoint-mob) {
      margin: 0 0 24rem;
    }
  }

  &__content{
    .title{
      margin: 15rem 0 36rem;

      @media (width<=$breakpoint-mob) {
        margin: 8rem 0 24rem;
      }
    }

    .description{
      max-width: 931rem;

      @media (width<=$breakpoint-mob) {
        font-size: 18rem;
      }
    }

    &_img{
      height: 807rem;
      margin: 76rem 0 64rem;
      overflow: hidden;
      border-radius: 24rem;

      @media (width<=$breakpoint-mob) {
        height: 466rem;
        margin: 24rem 0 46rem;
      }
    }

    &_btn{
      display: block;
      width: 100%;
      max-width: 1036rem;
      margin: 0 auto;
    }
  }
}