@import '@/app/styles/variables/breakpoints';

.editor {
  margin: 39rem 0 114rem;

  @media (width<= $breakpoint-mob) {
    margin: 84rem 0 106rem;
  }

  &__back{
    margin: 0 0 95rem;

    @media (width<= $breakpoint-mob) {
      margin: 0 0 24rem;
    }
  }

  &__content {
    display: flex;

    .article {
      padding: 0 199rem 0 0;

      @media (width<= $breakpoint-mob) {
        padding: 0;
      }

      &__top {
        margin: 0 0 95rem;

        @media (width<= $breakpoint-mob) {
          margin: 0 0 24rem;
        }

        .title {
          margin: 0 0 55rem;
          color: var(--primary-color);

          @media (width<= $breakpoint-mob) {
            margin: 0 0 24rem;
          }
        }

        .description {
          font-size: 36rem;

          @media (width<= $breakpoint-mob) {
            font-size: 18rem;
          }
        }
      }
    }

    &_menu {
      flex: 0 0 488rem;

      @media (width<= $breakpoint-mob) {
        display: none;
      }
    }


    .sticky-block {
      display: none;

      @media (width<= $breakpoint-mob) {
        display: block;
      }
    }
  }

  &__fixed-button{
    position: fixed;
    bottom: 18rem;
    left: 0;
    z-index: 2;
    display: none;
    width: 100%;
    padding: 0 16rem;

    &_btn{
      width: 100%;
    }

    @media (width<= $breakpoint-mob) {
      display: block;
    }
  }
}