@import '@/app/styles/variables/breakpoints';

.video-pop-up{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100svh;

  &::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    opacity: 0.7;
    transition: var(--duration-hover) var(--ease);
    content: "";
  }

  &__content{
    position: relative;
    width: 100%;
    max-width: 1460rem;
    height: 100%;
    max-height: 70svh;
    background-color: var(--black);

    @media (width<=$breakpoint-mob) {
      max-height: 80svh;
    }

    &_iframe{
      width: 100%;
      height: 100%;
    }

    .cross{
      position: absolute;
      top: -97rem;
      right: 0;
      width: 94rem;
      height: 72rem;
      background-color: var(--dark-green);
      border-radius: 59rem;
      cursor: pointer;
      transition: var(--duration-hover) var(--ease);

      @media (width>$breakpoint-mob) {
        &:hover{
          background-color: var(--dark-light-green);
        }
      }

      @media (width<=$breakpoint-mob) {
        position: fixed;
        top: 10rem;
        right: 10rem;
        width: 45rem;
        height: 35rem;
      }

      span{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 35rem;
        height: 5rem;
        background-color: var(--primary-color);
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;

        @media (width<=$breakpoint-mob) {
          width: 20rem;
          height: 3rem;
        }

        &:nth-child(1){
          transform: translateY(-50%) translateX(-50%) rotate(45deg);
        }

        &:nth-child(2){
          transform: translateY(-50%) translateX(-50%) rotate(-45deg);
        }
      }
    }
  }
}