@import '@/app/styles/variables/breakpoints';

.hero-blog{
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 160rem 0 48rem;

  @media (width<= $breakpoint-mob) {
    min-height: initial;
    padding: 112rem 0 24rem;
  }

  &__content{
    &_title{
      text-align: center;

      @media (width<= $breakpoint-mob) {
        text-align: initial;
      }

      span{
        color: var(--primary-color);

        @media (width<= $breakpoint-mob) {
          display: block;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}