@import '@/app/styles/variables/breakpoints';

.contact {
  padding: 52rem 0 252rem;

  @media (width <= $breakpoint-mob) {
    padding: 84rem 0 174rem;
  }

  &__content {
    position: relative;
    display: flex;
    gap: 24rem;
    max-width: 1302rem;
    margin: 0 auto;

    @media (width <= $breakpoint-mob) {
      flex-direction: column;
      gap: 8rem;

      .contact {
        &__content {
          &_column {
            &:nth-child(2) {
              order: 1;
            }

            &:nth-child(1) {
              order: 2;
            }
          }
        }
      }
    }

    &_column {
      &:nth-child(1) {
        display: flex;
        flex: 0 1 449rem;
        flex-direction: column;
        gap: 24rem;

        @media (width <= $breakpoint-mob) {
          gap: 8rem;
        }

        .card {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 50%;
          cursor: pointer;

          @media (width <= $breakpoint-mob) {
            height: 250rem;
          }

          .title {
            transition: var(--duration-hover) var(--ease);

            @media (width <= $breakpoint-mob) {
              max-width: 174rem;
            }
          }

          .description {
            margin: 16rem 0 0;
            font-size: 20rem;
            line-height: 150%;

            @media (width <= $breakpoint-mob) {
              margin: 8rem 0 0;
              font-size: 18rem;
            }
          }

          @media (width > $breakpoint-mob) {
            &:hover {
              .title {
                color: var(--primary-color);
              }
            }
          }
        }
      }

      &:nth-child(2) {
        flex: 1;
      }
    }

    .card {
      padding: 38rem;
      background: var(--grey-bg);
      border-radius: 36rem;

      .title {
        line-height: 120%;
      }

      @media (width <= $breakpoint-mob) {
        padding: 24rem;
        border-radius: 24rem;

        .title {
          font-size: 24rem;
          text-transform: capitalize;
        }
      }
    }
  }

  .backward-button {
    position: absolute;
    top: 0;
    left: -224rem;
    width: 94rem;
    height: 72rem;
    background-color: var(--dark-green);
    background-image: url("/icons/arrow_green.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50rem 40rem;
    border-radius: 59rem;
    transform: rotateY(180deg);
    transition: var(--duration-hover) var(--ease);

    @media (width>$breakpoint-mob) {
      &:hover{
        background-color: var(--dark-light-green);
      }
    }

    @media (width<=$breakpoint-mob) {
      top: -69rem;
      left: 0;
      width: 55rem;
      height: 43rem;
      background-size: 30rem 20rem;
    }
  }
}